<!-- <div class="container">
  <div class="row">
  <form #loginForm="ngForm" (ngSubmit)="submit(loginForm.value)">
      <div class="mb-3">
        <label for="email">email</label>
        <input type="email" ngModel class="form-control" name="email" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="password">password</label>
        <input type="password" ngModel class="form-control" name ="password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
</div> -->

<div class="container">
  <div class="row">
      <div class="mb-3">
        <label for="email">email</label>
        <input type="email" [(ngModel)]="user.email" class="form-control" name="email" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="password">password</label>
        <input type="password" [(ngModel)]="user.password" class="form-control" name ="password">
      </div>
      <button type="submit" class="btn btn-primary" (click)="login()">Submit</button>
  </div>
</div>

